// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

$handwriting: Zeyada, serif;
$print: Vidaloka, Trocchi, serif;

div.card {
    font-family: $handwriting;
    padding-top: 40px;

    p {
        word-wrap: break-word;
        &.dear {
            font-size: 64px;
            span.recipient {
                font-weight: bold;
            }
            text-align: center;

        }
        &.merry {
            font-family: $print;
            text-transform: uppercase;
            font-size: 72px;
            text-align: center;

        }
        &.good {
            text-align: center;
            font-size: 32px;
        }
        &.best {
            font-size: 48px;
            margin-bottom: 0px;
            text-align: center;
        }
        &.sender {
            font-size: 56px;
            text-align: center;

        }
        &.kisses {
            font-size: 64px;
            text-align: center;
            letter-spacing: 20px;
        }
    }
    div.message {
        p {
            font-size: 42px;
            text-align: center;

        }
    }
}