{% extends 'base.html' %}
{% block title %}A rather lovely card for {{ card.recipient }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns card">
            <p class="dear">Dear <span class="recipient">{{ card.recipient }}</span></p>
            <div class="message">
                {{ card.message|linebreaks }}
            </div>
            <p class="merry">Merry Christmas.</h2>
            <p class="good">I hope you have a good one because that would be good.</p>
            <p class="best">Best wishes from your pal James</p>
            <p class="kisses"> xxx</p>
        </div>
    </div>
{% endblock %}